<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title> Administrateur</title>
    <script src="../jquery-3.6.1.min.js"></script>
</head>
<body>
        <form class="edit1 mod1 hidden">
            <div class="form">
                <div>
                    <label>culture</label>
                    <input type="text" class="edit_culture" required>
                </div>
                <div>
                    <label>Superficie</label>
                    <input type="number" class="edit_Superficie" required>
                </div>
                <div>
                    <label>Production</label>
                    <input type="number" class="edit_Production" required>
                </div>
                <div class="ControlBut">
                    <button type="submit"> Modifier culture</button>
                    <button type="button" id="canceledit1"> Annuler</button>
                </div>
            </div>
        </form>

        <form class="edit2 mod2 hidden">
            <div class="form">
                <div>
                    <label>Espéce</label>
                    <input type="text" class="edit_Espece" required>
                </div>
                <div>
                    <label>Nombre</label>
                    <input type="number" class="edit_Nombre" required>
                </div>
                <div class="ControlBut">
                    <button type="submit"> Modifier espéce</button>
                    <button type="button" id="canceledit2"> Annuler</button>
                </div>
            </div>
        </form>

        <form class="hidden add1">
            <div class="form">
                <div>
                    <label>culture</label>
                    <input type="text" class="culture" required>
                </div>
                <div>
                    <label>Superficie</label>
                    <input type="number" class="Superficie" required>
                </div>
                <div>
                    <label>Production</label>
                    <input type="number" class="Production" required>
                </div>
                <div class="ControlBut">
                    <button type="submit"> Ajouter culture</button>
                    <button type="button" id="canceladd1"> Annuler</button>
                </div>
            </div>
        </form>

        <form class="hidden add2">
            <div class="form">
                <div>
                    <label>Espéce</label>
                    <input type="text" class="Espece" required>
                </div>
                <div>
                    <label>Nombre</label>
                    <input type="number" class="Nombre" required>
                </div>
                <div class="ControlBut">
                    <button type="submit"> Ajouter espéce</button>
                    <button type="button" id="canceladd2"> Annuler</button>
                </div>
            </div>
        </form>


        
    <div class="deconnect">
        <button id="Deconnect"> Deconnect</button>
    </div>
    <section style="width: 100%;margin-top:40px;">
        <span class="tableTitre">Principales productions végétales mondiales</span>
        <table class="tableau t1">
        <thead>
           <tr>
            <th scope="col">Culture </th>
            <th scope="col">Superficie cultivée (1 000 ha) </th>
            <th scope="col">Production totale(1 000 tonnes)</th>
            <th scope="col">Supprimer</th>
            <th scope="col">Modifier</th>
           </tr>
        </thead>
        <tbody class="bd1">
           <tr>
            <th scope="row"> Somme</th>
            <td class="somme"></td>
            <td class="somme"></td>
           </tr>
        </tbody>  
        </table><br>


        <span class="tableTitre">Principaux élevages mondiaux</span>



        <table class="tableau t2">
            <thead>
            <tr>      
             <th scope="col">Espèce  </th>
             <th scope="col">Nombre(1000 têtes)</th>  
             <th scope="col">Supprimer</th>
             <th scope="col">Modifier</th>
            </tr>
            </thead>
            <tbody class="bd2">
                <tr>
                  <th scope="row"> Somme</th>
                  <td class="somme"></td> 
                  <td colspan=2> hi</td>
                </tr>
            </tbody>
         </table>
    </section>



    <script src="admin.js"></script>
</body>
</html>