body{
    align-items: center;
    overflow-x: hidden;
    height: 2000px;
    position: relative;
}

th{
  text-align: center;
}

td{
    text-align: center;
}

.deconnect{
    width: 100%;
    height: 80px;
    background-color: rgb(239, 231, 231);
    display: flex;
    justify-content: end;
    align-items: center;
}
.deconnect button{
    width: 20%;
    height: 35px;
    border: solid rgb(212, 207, 207) 1px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    box-shadow: 5px 4px 4px rgb(214, 210, 210);
    margin-right: 5%;
}

.deconnect button:hover{
   background-color: rgb(245, 165, 165);
}


.tableau thead{
    background-color: rgb(214, 214, 214);
}
.tableau tbody tr th{
    background-color: rgb(214, 214, 214);
    text-align: left;
    padding-left: 13px;
}
.tableau{
    border: 1px black dotted;
}

tbody tr:nth-child(odd){
    background-color:rgb(225, 196, 157);
}
tbody tr:nth-child(even){
    background-color:rgb(153, 217, 217);
}

.t1{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.t2{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
    margin-top:15px;
}

.tableTitre{
    display: inline-block;
    width: 100%;
    text-align: center;   
}

.hidden{
    display: none;
}

.somme{
    background-color: rgb(102, 182, 102)!important;
}

.form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    background-color: white;
    border-radius: 6px;
    padding: 40px;
}


.form div{
    width: 100%;
    display: block;
}

.form div input{
    margin-top: 8px;
    width: 95%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid rgb(111, 108, 108);
}

.form div button{
    width: 40%;
    margin-left: 10%;
    margin-top: 28px;
    height: 30px;
    border-radius: 6px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    border: solid rgb(177, 175, 175) 0.5px;
    box-shadow: 3px 3px 3px rgb(180, 175, 175);
}

.ControlBut{
    display: flex!important;
}

.form button:hover{
    background-color: rgb(214, 133, 133);
    color: white;
}


#supicon ,#editicon ,#add{
    width: 30px;
    height: 30px;
    display: inline-block;
    
}


.mod1,.add1{
    width: 100%;
    height: inherit;
    background-color: rgba(11, 11, 11, 0.63);
    position: absolute;
    padding-top: 200px;
}

.mod2,.add2{
    width: 100%;
    height: inherit;
    background-color: rgba(11, 11, 11, 0.63);
    position: absolute;
    padding-top: 500px;
}




